.Card{
    display: flex;
  flex-direction: column;
  width: 250px;
  overflow: hidden;
  border-radius: 1em;
  
}

.Cardss {
    display: grid;
    flex-wrap: wrap;
    margin-left:20px;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;

  }